:root {
    --primary-color: #EBD4CB;
    --secondary-color: #DA9F93;
    --accent1-color: #D6465F;
    --accent2-color: #890620;
  
    --heading-font: "IM Fell French Canon";
    --paragraph-font: 'Oswald', sans-serif;
  
    --headline-color-on-white: #2C0703;  
    --headline-color-on-color: #DA9F93; 
    --paragraph-color-on-white: #890620; 
    --paragraph-color-on-color: #B6465F; 
    --paragraph-background-color: #DA9F93;
  }
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section{
    text-align: center;
    
}

.card-img {
    width:100%;
}
#hero-img{
    width:100%;
}
body {
    background-color: var(--primary-color);
    margin: 0 auto;
}
header {
    background-color: var(--accent1-color);
}
nav a:hover, .book, .book:hover, .join:hover,footer{
    background-color: var(--primary-color);
    width:75%;
    margin: 0 auto;
}
#background{
    width:100%;
    height:400px;
}

.mountains {
    width:50%;
}

nav a, nav a:hover, .home-title, h4, .book, .join, .book:hover, .join:hover, .msg, footer h3, footer a, footer a:hover{
    color: var(--paragraph-color-on-color);
    padding: 5px;
}

.icon, .logo{
    width:80px;
}

nav a, .book, .join, footer{
    color: var(--paragraph-color-on-color);
    text-decoration: none;
    width:100%;
    background-color: var(--paragraph-background-color);
}
.msg{
    background-color: var(--paragraph-background-color);
}
footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}